<ion-view view-title="Login" class="light-bg">
  <ion-content class="light-bg">

    <div class="login-content">

      <!-- Logo -->
      <div class="padding text-center">
        <div class="logo balanced-bg">
          <i class="w"></i>
        </div>
        <h2 class="balanced">
          Cloud Café
        </h2>
      </div>

      <!-- Login form -->
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="text">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="password">
        </label>

      </div>

      <p class="text-right balanced" >Forgot Password? </p>

      <div>

        <button class="button button-block button button-balanced" ui-sref="register">
          SIGN IN
        </button>

        <p class="text-center dark">Or</p>

        <button class="button button-block twitter-login" ui-sref="home">
          Sign in with Twitter
        </button>
        
        <div ng-controller="FacebookAuthentication">
            <button class="button button-block facebook-login" ng-click="LoginFacebook('facebook')">
            Sign in with Facebook
            </button>
        </div>
      </div>


      <!-- Other links -->
      <div class="text-center">
        <a ui-sref="register" class="dark">New here? <span class="balanced">Sign up</span></a>
      </div>

    </div>

  </ion-content>
</ion-view>
