/* Empty. Add your own CSS if you like */

/*general font*/
.balanced, a.balanced {
  color: #B72C6C; }

.balanced-bg {
  background-color: #B72C6C; }

.balanced-border {
  border-color: #B72C6C; }
  
.tabs .tab-item .badge.badge-balanced,
.badge.badge-balanced {
  background-color: #B72C6C;
  color: #fff; }

/* for index.html*/  
.dark, a.dark {
  color: #292E37; }

.dark-bg {
  background-color: #292E37; }

.dark-border {
  border-color: #292E37; }
 
/* hamburger button*/
.button.button-dark {
    border-color: transparent;
    background-color: #292E37;
    color: #292E37; }
    .button.button-dark:hover {
      color: #292E37;
      text-decoration: none; }
    .button.button-dark.active, .button.button-dark.activated {
      background-color: #262626; }
    .button.button-dark.button-clear {
      border-color: transparent;
      background: none;
      box-shadow: none;
      color: #292E37; }
    .button.button-dark.button-icon {
      border-color: transparent;
      background: none; }
    .button.button-dark.button-outline {
      border-color: #292E37;
      background: transparent;
      color: #292E37; }
      .button.button-dark.button-outline.active, .button.button-dark.button-outline.activated {
        background-color: #292E37;
        box-shadow: none;
        color: #292E37; }
        
/*image padding*/
.full-image {
  width: 100%; }