<!--
  This template loads for the 'home' state (app.js)
  Show list of category
  categories is a $scope variable on HomeCtrl (controllers.js)
  The HomeCtrl pulls data from Categories service (service.js)
  The Categories service returns array  of categories data
-->
<ion-view view-title="Explore">

  <ion-content class="stable-bg">
    <div class="row" ng-repeat="SingleItem in Items">
      {{Object.keys(SingleItem)[0]}}
    </div>  
    
    <div class="row" ng-repeat="SingleItem in Items" ng-if="$index % 2 === 0">
      <div class="col col-50" ng-if="$index < Items.length">
        <div class="list card" ui-sref="item({itemData: Items[$index].id})">
          <img ng-src="{{Items[$index].img1}}" width="100%" height="100%">

          <div class="text-centre">
            <p>{{Items[$index].foodName}}
              <br>
              <span style="color:grey;float:left;">@{{Items[$index].stallID}}</span>
              <span style="color:grey;float:right;">${{Items[$index].price}}</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col col-50" ng-if="$index + 1 < Items.length">
        <div class="list card" ui-sref="item({itemData: Items[$index + 1].id})">
          <img ng-src="{{Items[$index + 1].img1}}" width="100%" height="100%">

          <div class="text-centre">
            <p>{{Items[$index + 1].foodName}}
              <br>
              <span style="color:grey;float:left;">@{{Items[$index + 1].stallID}}</span>
              <span style="color:grey;float:right;">${{Items[$index + 1].price}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="row">
      <div class="col col-50">
        <div class="list card" ui-sref="item">
          <div class="item item-image">
            <img src="img/items/thumbs/cake1.jpg">
          </div>
          <a ui-sref="item">
            <div class="text-centre">
              <p>Macaron Wonderland Cake<br>
                <span style="color:grey;float:left;">@abcBakery</span>
                <span style="color:grey;float:right;">$35</span>
              </p>

            </div>
          </a>
        </div>
      </div>

      <div class="col col-50">
        <div class="list card" ui-sref="item">
          <div class="item item-image">
            <img src="img/items/thumbs/cake2.jpg">
          </div>
          <a ui-sref="item">
            <div class="text-centre">
              <p>Macaron Wonderland Cake<br>
                <span style="color:grey;float:left;">@abcBakery</span>
                <span style="color:grey;float:right;">$35</span>
              </p>

            </div>
          </a>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col col-50">
        <div class="list card" ui-sref="item">
          <div class="item item-image">
            <img src="img/items/thumbs/cake3.jpg">
          </div>
        </div>
      </div>

      <div class="col col-50">
        <div class="list card" ui-sref="item">
          <div class="item item-image">
            <img src="img/items/thumbs/cake4.jpg">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-50">
        <div class="list card" ui-sref="item">
          <div class="item item-image">
            <img src="img/items/thumbs/cake5.jpg">
          </div>
        </div>
      </div>

      <div class="col col-50">
        <div class="list card" ui-sref="item">
          <div class="item item-image">
            <img src="img/items/thumbs/cake6.jpg">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-50">
        <div class="list card" ui-sref="item">
          <div class="item item-image">
            <img src="img/items/thumbs/cake7.png">
          </div>
        </div>
      </div>

      <div class="col col-50">
        <div class="list card" ui-sref="item">
          <div class="item item-image">
            <img src="img/items/thumbs/cake8.jpg">
          </div>
        </div>
      </div>
    </div>-->


    <div class="endTag" style="opacity:0.6;">
      <div class="text-center">
        <p><br> All items displayed<br>
        </p>
      </div>
    </div>

  </ion-content>
</ion-view>