<!--
  This template loads for the 'item' state (app.js)
  item is a $scope variable on ItemCtrl (controllers.js)
  The ItemCtrl pulls data from Items service (service.js)
  The Items service returns array of items data
-->
<ion-view view-title="{{ item.name }}">

  <ion-content>

    <!-- Item cover -->
    <div class="item-cover">
      <ion-slide-box>
        <ion-slide ng-repeat="img in item.images">
          <img class="full-image" src="{{ img }}" alt=""/>
        </ion-slide>
      </ion-slide-box>

<!--close
      <div class="overlay">
        <span class="pull-left light">
          {{ item.description }}
        </span>

        <span class="pull-right price light">
          ${{ item.price }}
        </span>
      </div>
    </div>-->

    <!-- Buttons -->
    <div class="row item-button-group">
      <div class="col button button-stable" ng-click="toggleFav()">
        <i class="text-2x ion-ios-heart-outline" ng-hide="item.faved"></i>
        <i class="text-2x ion-ios-heart" ng-show="item.faved"></i>
        <span class="text-sm">ADD TO FAVORITE</span>
      </div>
      <!--temp close
      <div class="col button button-balanced">
        <i class="text-2x ion-ios-cart-outline"></i>
        <span class="text-sm">ADD TO CART</span>
      </div>
       -->
    </div>
    
    <div class="button-bar">
        <a class="button">Days Left:</a>
        <a class="button">Slots Left:</a>
        <a class="button">Price:</a>
        </div>
        
    <progress max="5" value="3" class="progress-bar">
    </progress>

    <!-- Reviews -->
    <label class="item item-input item-stacked-label">
        <span class="input-label balanced">Details</span>
        <p>Item: <br>
        Shop: <br>
        Order fulfillment date:<br>
        Tags: Organic, Gluten-free, Hand-made</p>
    </label>
    
    <label class="item item-input item-stacked-label">
        <span class="input-label balanced">Description</span>
        <p>lorem Ipsum Dolor...</p>
    </label>
    
    </div>
    
    <div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Delivery
    </div>
    <select>
      <option selected>Home</option>
      <option>Work</option>
    </select>
  </label>

</div>

    <div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Date
    </div>
    <select>
      <option selected>Select Date</option>
      <option>date 1 Friday</option>
      <option>date 2 Saturday</option>
      <option>date 3 Sunday</option>
    </select>
  </label>

</div>


<div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Time
    </div>
    <select>
      <option selected>Select Time</option>
      <option>time 1 0900</option>
      <option>time 2 1400</option>
      <option>time 3 1800</option>
    </select>
  </label>

</div>


    
    <button class="button bar button-balanced">
        Back this Project
    </button>

  </ion-content>
</ion-view>