<ion-view view-title="Location" class="light-bg">
  <ion-content class="light-bg">

    <div class="login-content">

      <!-- Logo -->
      <div class="item item-image">
            <img src="img/ui/splash.png">
        </div>
        

        <div class="">
        <div class="item item-text-wrap">
            This area exlplains why delivery is integrated
        </div>
        </div>
      <!-- Location form -->
      <div class="list">

        <label class="item item-input item-floating-label">
          <span class="input-label">Home Address</span>
          <input type="text" placeholder="Home Address">
        </label>
        
        <label class="item item-input item-floating-label">
          <span class="input-label">Postal Code</span>
          <input type="tel" placeholder="Postal Code">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Office Address</span>
          <input type="text" placeholder="Office Address">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Postal Code</span>
          <input type="tel" placeholder="Postal Code">
        </label>

      </div>

      <div class="padding-top">
        <button class="button button-block button-calm" ui-sref="home">
          Activate Delivery
        </button>
      </div>


      <!-- Other links -->
      <div class="text-center">
        <a ui-sref="home" class="calm">Later</a>
      </div>

    </div>

  </ion-content>
</ion-view>

