<ion-view view-title="Login" class="bar-dark">
  <ion-content class="login-bg">

    <div class="login-content">

      <!-- Logo -->
      <div class="item item-image login-logo">
            <img src="../img/backgrounds/logo_white.png">
        </div>
        
        <!-- Login form -->
        <div class="card effect__click">
        <div class="card__front">
            
                <div class="list">
                    <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="Email" required>
                    </label>
                    <label class="item item-input item-floating-label">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Password" required>
                    </label>
                </div>
                
                <div>
                    <button class="button button-block button-calm" ui-sref="register">
                        SIGN IN
                        </button>
                    <p class="text-center dark">Or</p>
                    <button class="button button-block button-positive" ui-sref="home">
                    Sign in with Twitter
                    </button>
                    <button class="button button-block button-positive" ui-sref="home">
                    Sign in with Facebook
                    </button>
                </div>
            
        </div>
        <div class="card__back">
            <span class="card__text">back</span>
        </div>
        </div>
        
      

      <p class="text-right calm">Forgot Password?</p>


      <!-- Other links -->
      <div class="text-center">
          <a ui-sref="register" class="dark">New here? <span class="calm">Sign up</span></a>
      </div>

    </div>

  </ion-content>
</ion-view>

  </ion-content>
</ion-view>
