<!--
  This template loads for the 'offers' state (app.js)
  items is a $scope variable on OfferCtrl (controllers.js)
  OffersCtrl pulls data from Items service (service.js)
  The Items service returns array of items data
-->
<ion-view view-title="Purchased" class="offer-page has-footer-buttons">

  <ion-content class="stable-bg">
    <div class="card">
     <div class="item item-thumbnail-left item-icon-right">
      <img src="cover.jpg">
      <h2>Teh Tarik Cupcakes</h2>
      <p>Quantity:<br>
      Location:<br>
      Date:<br>
      Time:
      </p>
      
    </div>
    
    <a class="item item-icon half" style="float:right;">
      <span style="color:green;">
        <i class="icon ion-ios-cart"></i>
      Received</span>
    </a>
  
    <a class="item item-icon half" style="float:left;">
      <span style="color:red;">
        <i class="icon ion-ios-telephone"></i>
      Call Baker</span>
    </a>
    
    </div>
    
    <div class="endTag" style="opacity:0.6;">
      <div class="text-center">
        <p><br>
        All items displayed<br>
        </p>
      </div>
    </div>
    
</ion-view>
