<ion-view view-title="Register" class="light-bg">
  <ion-content class="light-bg">

    <div class="login-content">

      <!-- Logo -->
      <div class="padding text-center">
        <div class="logo balanced-bg">
          <i class="light ion-android-restaurant"></i>
        </div>
        <h2 class="balanced">
          Cloud Café
        </h2>
      </div>

      <!-- Login form -->
      <div class="list">

        <label class="item item-input item-floating-label">
          <span class="input-label">Name</span>
          <input type="text" placeholder="Name" required>
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="Email" required>
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password" required>
        </label>


      </div>

      <div class="padding-top">
        <button class="button button-block button-balanced" ui-sref="location">
          SIGN UP
        </button>
      </div>


      <!-- Other links -->
      <!--<div class="text-center">
        <a ui-sref="login" class="dark">I have <span class="balanced">an account</span></a>
      </div>-->

    </div>

  </ion-content>
</ion-view>

