<!--
  This template loads for the 'user' state (app.js)
-->
<ion-view view-title="Support" class="has-footer-buttons">

<ion-content style="background-image:url(img/backgrounds/login_screen.png);background-size:100%;">
    
      <div class="item item-image login-logo" style="position:relative;">
                <img src="img/backgrounds/logo_white.png">
            </div>
    <div class="card" style="opacity: 0.8;" ng-controller="ExampleController">  
    <p class="text-center">
    <br>
    Version Alpha 1.0<br><br>
    For any enquiries contact +65 91374768<br><br>
    
    <span class="calm" ng-click="shareViaEmail()">Report a bug here</span>
    
    
    </p>
    
    
    </div>

</ion-content>
</ion-view>